@model TCGCollector.Models.SpecialCard

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>SpecialCard</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardImageURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardImageURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardImageHiURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardImageHiURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardCat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardCat.CardCatID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardType.CardTypeID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Set)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Set.SetID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Artist)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Artist)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardRarity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardRarity.CardRarityID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUpdateDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CardID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
