@model IEnumerable<TCGCollector.Models.Set>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SetCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SetPTCGOCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SetSeries.SetSeriesName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SetTotalCards)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SetStandard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SetExpanded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SetSymbolURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SetLogoURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SetReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdateDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SetCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SetPTCGOCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SetSeries.SetSeriesName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SetTotalCards)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SetStandard)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SetExpanded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SetSymbolURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SetLogoURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SetReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdateDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SetID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SetID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SetID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
