@model IEnumerable<TCGCollector.Models.Card>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CardName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardImageURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardCat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Set)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardRarity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CardName)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.CardImageURL)*@
                <div class="display-field">
                    <img src="@Url.Content(item.CardImageLocalURL)" alt="" style="height: 342px; width: 245px;" />
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardCat.CardCatName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardType.CardTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Set.SetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artist)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardRarity.CardRarityName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CardID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CardID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CardID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
